<ion-view view-title="{{empleado.attributes.primer_nombre}} {{empleado.attributes.segundo_nombre}} {{empleado.attributes.apellido_paterno}}">
	<ion-content>
    <div class="row item-box">
      <div class="col-50">
        <span class="bold">Puntaje: {{empleado.attributes.puntuacion_promedio}}</span>
      </div>
      <div class="col-50">
        <span class="pull-right bold" ng-if="empleado.attributes.estatus == 1">Estatus: Disponible</span>
        <span class="pull-right bold" ng-if="empleado.attributes.estatus == 0">Estatus: No Disponible</span>
      </div>
    </div>

    <div class="row item-box-2">
      <div class="row">
        <img ng-src="{{empleado.attributes.imagen}}" class="img-responsive"/>
        <div class="row item-detail">
          <div class="col col-10 ">
            <span class="down-color">Horario: </span> </br> 
          </div> 
          <div class="col "> 
            <span class="space" >{{ empleado.attributes.horario }}</span>
          </div>
       </div>
      </div> 
    </div>

    <button class="button button-balanced full-width">
      RESERVAR
    </button>

  </ion-content>
</ion-view>