<ion-view view-title="Estilistas">
  <ion-content>
    <ion-list ng-repeat="empleado in empleados | orderBy:'id'">
    	<a class="row item-detail" href="#/app/empleados/{{empleado.id}}">
	    	<div class="row">
	    		<div class="col col-80">
	    			<div class="col no-bottom-padding some-left-padding">
			            <span class="">{{ empleado.primer_nombre }} </span> 
			            <span class="">{{ empleado.segundo_nombre }} </span>
			            <span class="">{{ empleado.apellido_paterno }}</span> </br>
			            <b ng-if="empleado.rol == 2">Estilista</b>
			            <b ng-if="empleado.rol == 3">Maquillador</b>
			            <b ng-if="empleado.rol == 4">Manicurista</b>
			            <b ng-if="empleado.rol == 5">Masajista</b>
			            <b ng-if="empleado.rol == 6">Administración</b>
			            <b ng-if="empleado.rol == 7">Asistente</b>
			            <b ng-if="empleado.rol == 8">Servicio</b>
			            <b ng-if="empleado.rol == 9">Recepcionista</b>
			            <b ng-if="empleado.rol == 10">Repartidor</b>
		  				<b ng-if="empleado.rol == 11">Asociado</b> </br>
			            <span class="down-color">Encuéntrame en </span> 
			            <span class="">{{ empleado.id }}</span> </br> 
			        </div>
			        <div class="row no-upper no-left-padding">
	                	<div class="col col-10 no-left-padding no-right-padding">
	                  		<span class="down-color">Horario: </span> </br> 
	                	</div> 
	                	<div class="col no-left-padding"> 
	                  		<span class="space" >{{ empleado.horario }}</span>
	                	</div>
	              	</div>
		        </div>
		        <div class="col col-20">
		            <img ng-src="{{empleado.imagen}}" class="img-responsive"/>
		        </div>
		    </div>
		</a>
  </ion-content>
</ion-view>