<ion-view view-title="{{local.attributes.nombre}} ">
	<ion-content>
    <div class="row item-box">
      <div class="col-50">
        <span class="bold">Galería:</span>
      </div>
      <div class="col-50">
        <span class="pull-right bold">Dirección: {{local.attributes.direccion}}</span>
      </div>
    </div>

    <div class="row item-box-2">
      <div class="row">
        <img ng-src="{{local.attributes.imagen}}" class="img-responsive"/>
      </div>
    </div>

    <button class="button button-balanced full-width">
      ESTILISTAS DEL LOCAL
    </button>

    <button class="button button-balanced full-width">
      RESERVAR
    </button>

  </ion-content>
</ion-view>