<ion-view view-title="{{local.attributes.nombre}} ">
	<ion-content>
    <div class="row item-box linear-gradient-4">
      <div class="col-50">
        <span class="bold"> </span>
      </div>
      <div class="col-50">
        <span class="pull-right bold font-arial">Dirección: {{local.attributes.direccion}}</span>
      </div>
    </div>

    <div class="row item-box-2">
      <div class="row">
        <img ng-src="{{local.attributes.imagen}}" class="img-responsive"/>
      </div>
    </div>

    <button class="button button-balanced full-width-2 linear-gradient">
      ESTILISTAS DEL LOCAL
    </button>

    <div class="divider"/>
    </div>

    <button class="button button-balanced full-width-2 linear-gradient-2">
      RESERVAR
    </button>

  </ion-content>
</ion-view>