<ion-view view-title="ofertas">
  <ion-content>
    	<a ng-repeat="oferta in ofertas | orderBy:'id'" href="#/app/ofertas/{{oferta.id}}" ng-if="oferta.estatus == 1" class="item">
        <div class="row">
          <div class="col">
              <span class="">{{ oferta.nombre }}</span> </br>
              <b ng-if="oferta.estatus == true">Disponible</b> 
              <b ng-if="oferta.estatus == false"> No Disponible</b> </br>
          </div> 
          <div class="col-10 item-info">
            <img ng-src="{{oferta.imagen}}" class="img-responsive pull-right"/>
          </div>
        </div>
		</a> 
  </ion-content>
</ion-view>


