<ion-view view-title="">
  <ion-content>
    <div class="">
      <img ng-src="{{oferta.attributes.imagen}}" class="local-img-responsive"/>
    </div>

    <div class="row item-box-4">
      <div class="col left-alignment">
        <span class="bold ">{{oferta.attributes.nombre}}</span>
      </div>
    </div>

    <div class="row item-box-2">
      <div class="item-detail">
        <div class="">
          <span class="space" >{{oferta.attributes.descripcion}}</span>
        </div> 
      </div>
    </div>

    <div class="row items">
        <div class="col">
            <b class="">Vencimiento </b>
        </div>
    </div>

    <div class="row item-box-2">
      <div class="item-detail">
        <div class="">
          <span class="space" >{{oferta.attributes.fecha_vencimiento}}</span>
        </div> 
      </div>
    </div>

  <div class="row">
    <div class="col ">
      <button class="button button-balanced style-button" >
            RESERVAR OFERTA
      </button>
    </div>
  </div>

  </ion-content>
</ion-view>














   
        
        