<ion-view view-title="">
  <ion-content>
    <div class="row item-box">
      <div class="col-50">
        <span class="bold">{{producto.attributes.nombre}}</span>
      </div>
      <div class="col-50 price">
        <span class="pull-right bold">{{producto.attributes.precio}}</span>
      </div>
    </div>

    <div class="item-box-2">
      <div class="">
        {{producto.attributes.duracion}}
      </div>
      </br>
      <div class="">
        {{producto.attributes.observaciones}}
      </div>
    </div>
  </ion-content>
</ion-view>
