<ion-view view-title="">
  <ion-content>
    <div class="row item-box">
      <div class="col-50">
        <span class="bold">{{servicio.attributes.nombre}}</span>
      </div>
      <div class="col-50 price">
        <span class="pull-right bold">{{servicio.attributes.precio}}</span>
      </div>
    </div>

    <div class="item-box-2">
      <div class="">
        {{servicio.attributes.duracion}}
      </div>
      </br>
      <div class="">
        {{servicio.attributes.observaciones}}
      </div>
    </div>

    <div class="item-box-3">
      <div class="list">
        <label for="" class="item item-input item-select">
          <div class="input-label">
            Selecciona Local
          </div>

          <select ng-model="reserva.local" ng-options="local.id as local.attributes.nombre for local in locales" show-errors-for="fund">
            <option value=""></option>
          </select>
        </label>
      </div>

    <div class="item-box-3">
      <div class="list">
        <label for="" class="item item-input item-select">
          <div class="input-label">
            Selecciona Profesional
          </div>

          <select ng-model="reserva.empleadoSeleccionado" ng-options="empleado.id as empleado.attributes.primer_nombre for empleado in empleados" show-errors-for="fund">
            <option value=""></option>
          </select>
        </label>
      </div>

      <div class="input-area">
        <label for="">Reserve día</label>
        <input ng-class="{'has-error' : myForm.date.$invalid && (validated)}" name="date" class="date" ng-model="reserva.fecha" type="date" required>
      </div>
    </div>

    <div style="bottom-green">
        <div class="green-bottom-button text-center" ng-click="crearReserva()">
          <h4>CONTINUAR</h4>
        </div>
    </div>
  </ion-content>
</ion-view>
